In [2]:
import pandas as pd

In [24]:
citizens = pd.read_csv('obyvately_1_UTF.csv',delimiter = ';',header=1)
citizens_obec = citizens.drop(columns = ['KRAJ_ID','KRAJ','OKRES_ID','OKRES','OBEC_ID','OBEC','ZSJ_ID'])
#citizens_obec.columns
#citizens_obec.shape
#citizens_obec["maďarský"] >100
#citizens_obec[['maďarský','nemecký']]
citizens_obec.insert(0, "rus_total", 0)
citizens_obec

,rus_total,ZSJ,slovenský,maďarský,rómsky,rusínsky,ukrajinský,český,nemecký,poľský,chorvátsky,jidiš,bulharský,anglický,ostatné,nezistený,spolu
0,0,Hradný svah,175,5.0,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,NaN,4.0,2,15.0,208
1,0,Lýceum,1 559,45.0,NaN,NaN,NaN,16.0,9.0,1.0,2.0,1.0,NaN,43.0,39,183.0,1 898
2,0,Pamätník SNP,195,13.0,NaN,NaN,NaN,4.0,3.0,1.0,NaN,NaN,NaN,NaN,1,26.0,243
3,0,Bratislava - historické jadro,1 078,31.0,NaN,NaN,NaN,9.0,6.0,NaN,2.0,1.0,1.0,15.0,21,133.0,1 297
4,0,Reduta,1 379,53.0,4.0,1.0,NaN,20.0,5.0,1.0,2.0,1.0,1.0,20.0,40,154.0,1 681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,0,Lúky - východ,6 871,101.0,3.0,7.0,7.0,34.0,6.0,3.0,2.0,NaN,NaN,28.0,59,765.0,7 886
209,0,Tupolevova ulica,3 760,55.0,NaN,5.0,NaN,16.0,3.0,1.0,5.0,1.0,3.0,10.0,37,329.0,4 225
210,0,Lenardova ulica,7 855,133.0,4.0,8.0,3.0,43.0,14.0,7.0,6.0,NaN,2.0,40.0,56,802.0,8 973
211,0,Bosákova ulica - sever,1 718,33.0,NaN,1.0,1.0,1.0,6.0,1.0,5.0,NaN,NaN,3.0,8,237.0,2 014
212,0,Rusovce,2 317,189.0,NaN,1.0,4.0,8.0,20.0,NaN,10.0,1.0,NaN,6.0,22,267.0,2 845